**/*.map
**/*.ts
**/*.vsix
*.sh
.editorconfig
.eslintignore
.gitignore
.vscode-test.mjs
.vscode-test/
.vscode/
.vscodeignore
dist/test/
eslint.config.mjs
lib/
releases/
src/
tsconfig.json
CSharpProjectExamples/